body, html,#hpn-parcel, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
#hpn-parcel {
  height: 90%;
}
#map {
  height: 97%;
  position: relative;
}

.leaflet-container {
  cursor: auto;
}

.leaflet-popup-content h3 {
  margin: 0;
}

.italic {
  font-style: italic;
}


.icon {
  font-size: 70%;
}

#container {
  height: 1%;
}

#categories {
  height: 7%;
  padding: 1%;
  overflow: visible;
  background-color: #006400;
  /* background-color: #FF7F2A; */
}

.master-category {
  float: left;
  width: 170px;
  position: relative;
}

.master-category h4 {
  width: 80%;
  margin: 0;
}

.title {
  padding-right: 10px;
}

.collection-buttons {
  width: 80px;
  float: left;
}


.map-options {
  position: absolute;
  left: -10px;
  background-color: rgba(255,255,255,.7);
  z-index: 10000;
  width: 250px;
  padding: 10px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #444
}

.map-options label {
  display: inline-block;
  font-weight: bold;
  width: 100%;
}
